* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('athlete.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the content */
    text-align: left;
    padding: 50px;
    height: 100vh;
    background-image: url('athlete.jpg');
    /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    /* Adjust text color for better visibility */
}

.content {
    position:absolute;
    left: 10vw;
    max-width: 50%;
    /* Optional: Add a semi-transparent background for text contrast */
    padding: 20px;
    border-radius: 8px;
}

.subheading {
    font-size:xx-large;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 10px;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 span {
    color: #e63946;
    /* Red for emphasis */
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e63946;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #d62828;
}

.image-container {
    max-width: 50%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1e1e1e;
    /* Dark background color */
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

.logo h1 span {
    color: #e63946;
    /* Red dot */
}

.logo p {
    font-size: 14px;
    margin: 0;
    color: #888;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar a:hover {
    color:#e63946;
}